doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body
      div.account
        block account
          span.login
            a(href='/')= 'Login'
      div.title
        h1= title
      div.content
        block content
          div.reminders
            block reminders
              span.title= 'Reminders'
          div.events
            block events
              span.title= 'Event listing'
          div.menu
            block menu
              span.title= 'Base menu'

